# Dependências
node_modules/
.pnp
.pnp.js

# Build e Produção
.next/
out/
build/
dist/

# Variáveis de Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

# Firebase e Ferramentas
.firebase/
.firebaserc
firebug.log
