# Dependências
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Produção
build/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variáveis de ambiente (Segurança)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel e outros
.vercel
.turbo
*.local

# Mac/Windows temp
.DS_Store
Thumbs.db