@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(18, 18, 18);
    --foreground: rgb(255, 165, 0);
    --card: rgb(18, 18, 18);
    --card-foreground: rgb(255, 165, 0);
    --popover: rgb(18, 18, 18);
    --popover-foreground: rgb(255, 165, 0);
    --primary: rgb(59, 130, 246);
    --primary-foreground: rgb(255, 255, 255);
    --secondary: rgb(30, 41, 59);
    --secondary-foreground: rgb(255, 165, 0);
    --muted: rgb(30, 41, 59);
    --muted-foreground: rgb(151, 158, 172);
    --accent: rgb(96, 165, 250);
    --accent-foreground: rgb(255, 255, 255);
    --destructive: rgb(117, 44, 44);
    --destructive-foreground: rgb(248, 250, 252);
    --border: rgb(30, 41, 59);
    --input: rgb(30, 41, 59);
    --ring: rgb(96, 165, 250);
    --chart-1: rgb(38, 77, 217);
    --chart-2: rgb(28, 191, 115);
    --chart-3: rgb(235, 153, 25);
    --chart-4: rgb(173, 92, 230);
    --chart-5: rgb(224, 56, 110);
    --radius: 0.5rem;
    --sidebar-background: rgb(18, 18, 18);
    --sidebar-foreground: rgb(214, 219, 226);
    --sidebar-primary: rgb(59, 130, 246);
    --sidebar-primary-foreground: rgb(255, 255, 255);
    --sidebar-accent: rgb(30, 41, 59);
    --sidebar-accent-foreground: rgb(214, 219, 226);
    --sidebar-border: rgb(30, 41, 59);
    --sidebar-ring: rgb(96, 165, 250);
  }

  .dark {
    --background: rgb(18, 18, 18);
    --foreground: rgb(255, 165, 0);
    --card: rgb(18, 18, 18);
    --card-foreground: rgb(255, 165, 0);
    --popover: rgb(18, 18, 18);
    --popover-foreground: rgb(255, 165, 0);
    --primary: rgb(59, 130, 246);
    --primary-foreground: rgb(255, 255, 255);
    --secondary: rgb(30, 41, 59);
    --secondary-foreground: rgb(255, 165, 0);
    --muted: rgb(30, 41, 59);
    --muted-foreground: rgb(151, 158, 172);
    --accent: rgb(96, 165, 250);
    --accent-foreground: rgb(255, 255, 255);
    --destructive: rgb(117, 44, 44);
    --destructive-foreground: rgb(248, 250, 252);
    --border: rgb(30, 41, 59);
    --input: rgb(30, 41, 59);
    --ring: rgb(96, 165, 250);
    --chart-1: rgb(38, 77, 217);
    --chart-2: rgb(28, 191, 115);
    --chart-3: rgb(235, 153, 25);
    --chart-4: rgb(173, 92, 230);
    --chart-5: rgb(224, 56, 110);
    --sidebar-background: rgb(18, 18, 18);
    --sidebar-foreground: rgb(214, 219, 226);
    --sidebar-primary: rgb(59, 130, 246);
    --sidebar-primary-foreground: rgb(255, 255, 255);
    --sidebar-accent: rgb(30, 41, 59);
    --sidebar-accent-foreground: rgb(214, 219, 226);
    --sidebar-border: rgb(30, 41, 59);
    --sidebar-ring: rgb(96, 165, 250);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-content, .printable-content * {
    visibility: visible;
  }
  .printable-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
  }
}
